extends layout

block content
  nav 
      h1 Mini Message Board
      a(href= `http://localhost:3000/new`, class ="add")  Add Message 
  h2 Messages : 
  .messageWrapper 
     each val, key in messages
       .message
         .user 
            p By - #{val.user}
         p.time #{val.added}  
         p.text #{val.text}
      
       

